.auth-form-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-background-light); 
}

.auth-form-main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.auth-card {
    background-color: var(--color-secondary-button); 
    padding: 3rem; 
    border-radius: 1rem; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 420px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-card h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text-light);
    margin-bottom: 1.5rem;
    text-align: center;
}

.auth-card p {
    font-size: 1.1rem;
    color: var(--color-text-light);
    text-align: center;
    margin-bottom: 2rem;
    max-width: 90%;
    line-height: 1.4;
}

.auth-card form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.auth-card .input-group {
    margin-bottom: 0.5rem;
}

.auth-card .auth-button {
    width: 100%;
    font-size: 1.1rem; 
    padding: 0.9rem 1.5rem;
}