.landing-page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-background-light); 
  overflow: hidden; 
}

.landing-content-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%; 
  
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  box-sizing: border-box; 
}

.landing-logo {
  display: flex;
  align-items: center;
  position: absolute; 
  top: 4rem;
  left: 4rem;
  gap: 0.75rem; 
}

.landing-logo span {
  font-size: 2.5rem; 
  font-weight: 700; 
}


.landing-content-left h1 {
  text-align: center;
  font-size: 3rem; 
  font-weight: bold;
  max-width: 70%; 
  line-height: 1.2; 
  margin-top: 0; 
}

.landing-content-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%; 

  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-text-dark);
  box-sizing: border-box;
}

.landing-content-right p {
  font-size: 1.5rem; 
  font-weight: 500; 
  margin-bottom: 2rem;
  max-width: 320px;
}

.landing-buttons {
  display: flex;
  flex-direction: row; 
  gap: 1rem;
  width: 100%;
  max-width: 320px; 
  justify-content: center; 
}

.landing-buttons .button-base {
    width: auto; 
    flex-grow: 1; 
    max-width: 150px; 
}

@media (max-width: 900px) {
  .landing-page-container {
    display: flex; 
    flex-direction: column;
  }
  
  .landing-content-left, 
  .landing-content-right {
    position: static;
    width: 100%;
    min-height: 50vh; 
    padding: 2rem;
  }

  .landing-content-left {
    clip-path: none; 
    align-items: flex-start; 
  }

  .landing-logo {
    position: static;
    margin-bottom: 2rem; 
  }

  .landing-content-left h1 {
    font-size: 2rem; 
    max-width: 100%;
    text-align: left; 
  }

  .landing-content-right p {
    font-size: 1.2rem;
  }

  .landing-buttons {
    flex-direction: column; 
    justify-content: center;
  }
  .landing-buttons .button-base {
    width: 100%; 
    max-width: 100%;
  }
}